<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Services Blog</title>
    <link rel="stylesheet" href="../static/css/blog.css">

</head>
<body>
    <h1>Home Services Blog</h1>
    <div class="blog-container">
        {% for home_service in home_services %}
        <div class="blog-post">
            <h2>{{ home_service.name }}</h2>
            {% if home_service.image %}
            <img src="{{ home_service.image.url }}" alt="{{ home_service.name }}">
            {% endif %}
            <p><strong>City:</strong> {{ home_service.location_city }}</p>
            <p><strong>Contact:</strong> {{ home_service.contact_number }}</p>
            <p><strong>Address:</strong> {{ home_service.address }}</p>
            <button class="order-button">View Details</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>
