form{ 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70vh;
    margin: 50px;
    width: 1500px;
    
    
} 
label{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    
}
input{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 5px ;
    font-weight: bold;
    
}
body{
    margin:0px;
    padding:0px;
    
    transition: all;
    background-image: url(../static/b8.jpg);
    font-weight: bold;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}

/* div{
    transition : all 2s ease-in;
} */
/* div:hover{
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    transform: translateX(200px); */
    /* transform: skew(30deg);
}  */

    
    