

.header_home{
    display: flex;
    background-color: aqua;
    width:806px;
    height: 80px;

}
.header_logo{
    display: flex;
    width: 102px;
    height: 80px;
}

.image{
    width:102px;
    height: 45px;
    margin-top: 15px;
}

.header_center{
    margin-top: 400px;
    position: absolute;
    width: 700px;
    height: 50px;
}